<div class="footer">         
  <div class="footer-note">
    If you like what you see feel free to contact me through any platform on this website
  </div>
  <div class="icons-container">
    <div class="mb-3">
      <div class="footer-links">
        <a href="https://www.instagram.com/dxtianzamora/" style="color:white !important" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="mb-3">
      <div class="footer-links">
        <a href="https://twitter.com/Xristianito" style="color:white !important" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <div class="mb-3">
      <div class="footer-links">
        <a href="https://github.com/christianzam" style="color:white !important" target="_blank"><i class="fab fa-github"></i></a>
      </div>
    </div>
    <div class="mb-3">
      <div class="footer-links">
        <a href="https://www.facebook.com/ChristianZamoraBurgos" style="color:white !important" target="_blank"><i class="fab fa-facebook"></i></a> 
      </div>
    </div>
  </div>
</div>

 <%#
 
<div class="row d-flex text-center justify-content-center">
  <div class="col-md-8 col-12 m-5">          
  <div style="line-height: 1.7rem"> 
    A LOT OF TEXT 
  </div> 
</div> 

<div class="footer-copyright text-center py-3 links footer-links mt-2">
  © 2021 Copyright
  <br>
  <a href="#!">www.Christian-Zamora.com</a>
</div>

%>