<div class="footer">         
  <div class="footer-note">
    <%= link_to "WWW.CHRISTIAN-ZAMORA.COM", "https://www.christian-zamora.com", :class => "footer-note", :target => "_blank"%>
  </div>
  <div class="icons-container">
    <div class="mb-3">
      <div class="footer-links">
        <a href="https://twitter.com/Xristianito" style="color:white !important" target="_blank"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
    <div class="mb-3">
      <div class="footer-links">
        <a href="https://github.com/christianzam" style="color:white !important" target="_blank"><i class="fa fa-github"></i></a>
      </div>
    </div>
    <div class="mb-3">
      <div class="footer-links">
        <a href="https://www.linkedin.com/in/christian-zamora-burgos/" style="color:white !important" target="_blank"><i class="fa fa-linkedin"></i></a> 
      </div>
    </div>
  </div>
  <div class="text-center py-3 links">
    <div class="footer-note" style="color: rgb(134, 130, 130);">
      © 2021 Copyright
    </div>
  </div>
</div>
