// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Josefin+Sans:wght@400;700&family=Paytone+One&display=swap');

// Profile Fonts
$titles: 'Montserrat', sans-serif;
$paragraphs: 'Work Sans', sans-serif;
$links: 'Poppins', sans-serif;
$headers-font: "Nunito", "Helvetica", "sans-serif";



// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";