// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Nobile:wght@700&family=Work+Sans&display=swap');

// Index Fonts
$titles: 'Nobile', sans-serif; ;
$paragraphs: 'Work Sans', sans-serif;
$links: 'Montserrat Alternates', sans-serif;


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";