.footer {
  background-color: #000000;
  height: auto;
  padding: 8%;
}

.footer-note {
  text-align: center;
  color: white;
  margin-bottom: 2%; 
}

.icons-container {
  display: flex;
  justify-content:space-around;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1%;
}


@media (max-width:1920px) {
  .footer-links {
    font-family: $links;
    font-size: 30px;
    &:hover {
      //transform: rotateY(360deg);
      transition-duration: 0.3s;
      transform: scale(1.5);
      color: rgb(255, 255, 125);
    }
  }
}

@media (max-width:1024px) {
  .footer-links {
    font-family: $links;
    font-size: 30px;
    &:hover {
      //transform: rotateY(360deg);
      transition-duration: 0.3s;
      transform: scale(1.5);
      color: rgb(255, 255, 125);
    }
  }
}

@media (max-width:768px) {
  .footer-links {
    font-family: $links;
    font-size: 20px;
    &:hover {
      //transform: rotateY(360deg);
      transition-duration: 0.3s;
      transform: scale(1.5);
      color: rgb(255, 255, 125);
    }
  }
}

@media (max-width:320px) {
  .footer-links {
    font-family: $links;
    font-size: 25px;
    &:hover {
      //transform: rotateY(360deg);
      transition-duration: 0.3s;
      transform: scale(1.5);
      color: rgb(255, 255, 125);
    }
  }
}
