/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav span {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav span:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav span.active {
  background-color: steelblue;
  color: white;
}

// .search-box {
//   // float: right;
//   // margin-top: 8px;
//   // margin-bottom: 8px ;
//   // margin-right: 8%;
//   float: right;
//   margin-top: 8px;
//   margin-bottom: 8px;
//   margin-right: 0.5%;
//   height: 2.45rem;
//   width: 370px;
//   padding: 0 1rem 0 1.2rem;
//   box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   font-size: 1rem;
//   text-overflow: ellipsis;
//   text-align: center;
//   color: steelblue;
//   outline: 0;
//   border-radius: 10rem;
//   border: .05rem solid steelblue;
//   background-color: #fff;
//   transition: all .4s ease;
//   -webkit-transition: all -webkit-transform .4s ease;
// }

// .glass-icon {
//   float: right;
//   margin-top: 8px;
//   margin-bottom: 8px;
//   margin-right: 3%;
//   color: white;
//   font-size: 23px;
//   text-align: center;
//   align-items: center;
//   border: none;
//   background: slategrey;
//   border-radius: 10%;
//   width: 3rem;
//   padding-bottom: 3px;
// }

// .glass-icon:hover {
//   background: rgb(0, 140, 255);
//   color: white;
//   outline:0;
//   border: none;
// }

// /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
// @media screen and (max-width: 600px) {
//   .topnav a, .topnav {
//     float: none;
//     display: block;
//     text-align: left;
//     width: 100%;
//     margin: 0;
//     padding: 14px;
//   }
//   .topnav .search-box {
//     float: none;
//     width: 90%;
//     margin: 3%;
//   }
//   .topnav .glass-icon {
//     display: none;
//   }
// }

