/*
 *= require font-awesome
 */

// Wow instructions
@import "wowjs/css/libs/animate";

 // Graphical variables
@import "config/bootstrap_variables";
@import "config/colors";
@import "config/fonts";

// CSS partials
@import "components/banner";
@import "components/currency_grid";
@import "components/split-screen";
@import "components/info-section";
@import "components/search-field";
@import "components/footer";
@import "components/preloader";

// Plugins
@import "plugins/animate";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";


body {
  margin: 0;
  padding: 0;
}

my-h1 {
  color: black;
  font-size: 40px;
  font-family: $titles;
}

@media screen and (min-width: 320px) {
  my-h1 { font-size: calc(25px + 6 * ((100vw - 320px) / 680)); } }
@media screen and (min-width: 1000px) {
  my-h1 { font-size: 45px; } } 

p {
  color: black;
  font-family: $paragraphs
}

@media screen and (min-width: 320px) {
  p { font-size: calc(14px + 6 * ((100vw - 320px) / 680)); } }

h1 {
  color: steelblue;
  font-family: $titles;
}

